@import "../../tools/variables.scss";

a.button {
  text-transform: uppercase;
  background: $color-primary-light;
  border: 2px solid transparent;
  color: darken(white, 10);
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  cursor: poiter;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  transition: $transition;

  &:hover {
    background: lighten($color-primary-light, 15);
    color: $color-secondary;
  }
}
