@import "../../tools/variables.scss";

@media screen and (min-width: $mobile-small-width) {
  .footer {
    height: 11rem;
    background: $footer-color;
    text-align: center;
    display: grid;
    place-items: center;
    .footer-links {
      margin: 0 auto 1rem;

      a.social-link {
        color: white;
        &:hover {
          color: lighten($color-primary, 20);
        }
      }
    }

    h4 {
      margin-top: 0.5rem;
      color: white;
      font-size: 0.55rem;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1rem;
      span {
        color: $color-primary-light;
      }
    }
  }
}

@media screen and (min-width: $tablet-width) {
  .footer {
    height: 9rem;
    .footer-links {
      margin: 1rem auto 0;
    }
    h4 {
      font-size: 0.85rem;
    }
  }
}
