@import "./tools/variables.scss";

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section {
  padding: 5rem 0;
  .section-title {
    margin-bottom: 4rem;
    text-align: center;
    .underline {
      width: 5rem;
      height: 0.25rem;
      margin-bottom: 1.25rem;
      background: $color-primary;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

p {
  color: $color-secondary;
  margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  line-height: 1.25;
  font-family: "Open Sans";
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.stack-skill {
  color: white;
  display: inline-block;
  background: $color-primary-light;
  margin-right: 0.5rem;
  padding: 0.2rem 0.35rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.social-link {
  font-size: 1.75rem;
  transition: $transition;
  color: $color-primary;
}

@media screen and (min-width: $widescreen-width) {
  body {
    font-size: 1.5;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $widescreen-width) {
  body {
    font-size: 1.7vw;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $desktop-width) {
  body {
    font-size: 2vw;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $tablet-width) {
  body {
    font-size: 3vw;
  }
}
@media screen and (max-width: $mobile-landscape-width) {
  body {
    font-size: 3vw;
  }
}
@media screen and (max-width: $mobile-width) {
  body {
    font-size: 3vw;
  }
}
