@import "../../tools/variables.scss";

.services-center {

  width: 95vw;
  margin: 0 auto;
  max-width: 1600px;
}

@media screen and (min-width: $mobile-landscape-width) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: $tablet-width) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: $desktop-width) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}
