
//Colors

$color-primary: #8C2B37;
$color-primary-light: #CF4F57;
$color-primary-dark: #5E1831;
$color-secondary: #3B424D;
$color-secondary-ligh: #C0C7CC;
$color-secondary-dark: #401127;


//Transitions
$transition: all 0.3s linear ;
//Width Breakpoints

$mobile-width: 576px;
$mobile-landscape-width: 640px;
$tablet-width:768px;
$desktop-width: 992px;
$widescreen-width: 1200px;

