//Colors

$color-primary: #b22222;
$color-primary-light: #cf4f57;
$color-primary-dark: #5e1831;
$color-primary-back: #f8e5e7;
$color-secondary: #3b424d;
$color-secondary-light: #f1f5f8;
$color-secondary-back: #f1f5f8;
$color-secondary-dark: #6d113c;
$footer-color: #353535;
//Transitions
$transition: all 0.3s linear;
//Width Breakpoints
$mobile-small-width: 320px;
$mobile-width: 576px;
$mobile-landscape-width: 640px;
$tablet-width: 768px;
$desktop-width: 992px;
$widescreen-width: 1200px;
